<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <title>Categories</title>
</head>

<body>
    <div class="container" style="padding-top:60px">
        <div class="row">
            <div class="col-md-12">
                <h2>Categories</h2>
                <hr />
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>category ID</th>
                                <th>Name</th>
                             
                            </tr>
                        </thead>
                        <tbody>
                            {{#each categories}}
                            {{#if id}}
                            {{!-- {{#unless}} --}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{category}}</td>
                
                            </tr>
                            {{!-- {{/unless}} --}}
                            {{else}}
                            <tr>
                                <td colspan="4">{{message}}</td>
                            </tr>
                            {{/if}}
                            {{/each}}
                        </tbody>

                    </table>
                </div>


            </div>

        </div>
    </div>

    <!-- Latest compiled and minified jQuery 3.6.0 JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap 3.4.1 JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</body>

</html>