<div class="content-area">
<main class="site-main">
<div class="container medium">
<div style="padding:30px;border:5px dotted orange;font-size:2rem;">
<strong>Empty:</strong> No data found.
</div></div>
</main>
</div>